{% extends "base.html" %} {% block content %}
<h1>Login</h1>
{% with messages = get_flashed_messages() %} {% if messages %} {% for message in
messages %}
<p>{{ message }}</p>
{% endfor %} {% endif %} {% endwith %}
<form method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="password" name="password" placeholder="Password" required />
  <button class="btn" type="submit">Login</button>
</form>
<a href="{{ url_for('auth.register') }}">No account? Register</a>
{% endblock %}
