{% extends "base.html" %} {% block content %}
<h1>Missions</h1>
<p>
  Welcome to the Missions page! Here you can find various missions to test your
  skills and earn rewards.
</p>

<div class="card" style="margin-bottom: 20px">
  <h2>The Great Cosmic Drive-Thru Disaster</h2>
  <p>Genre: Comedy Sci-Fi | Difficulty: Easy</p>
  <p>
    A routine fast-food delivery mission turns catastrophic when one trillion
    radioactive moon nuggets esacape into orbit around Planet Blorbo. <br />
    Now its up to you and the barely functional crew of the Nacho Comet to stop
    a galaxy-wide snack disaster before Greg leaves a one-star review.
  </p>
  <a
    class="btn"
    href="{{ url_for('game.mission_play', mission_id='drive-thru') }}"
    >Start Mission</a
  >
</div>
{% endblock %}
